extend ./layout

block content
  .row
    .col-md-8.col-md-offset-2.col-xs-12
      .title whatsgoodsf?
        p.subtext Upcoming events at go-to music venues       
    .col-md-8.col-md-offset-2.col-xs-12(ng-repeat="venue in allVenues")      
      .event-card(onclick="location.href='{{venue.data[0].url}}';")
        .row 
          .col-xs-12
            .venue-name {{venue.collectionName}}
        .row
          .col-sm-4.col-xs-3
            img.venue-img(src="{{venue.data[0].image}}")            
          .col-sm-8.col-xs-9
            .venue-info
              .row
                .col-xs-3
                  p DATE 
                .col-xs-9
                  {{venue.data[0].date}}
              .row
                .col-xs-3
                  p ARTIST
                .col-xs-9
                  {{venue.data[0].artist}}
              .row(ng-hide="venue.data[0].priceTime == null")
                .col-xs-3
                  p PRICE
                .col-xs-9
                  {{venue.data[0].priceTime}}
      .row
        .col-xs-12
          .next-three.center
            a(href="/{{venue.collectionName}}") Next 3 events for {{venue.collectionName}}        
  //- .row
  //-   .col-md-12
  //-     .sk-cube-grid
  //-       .sk-cube.sk-cube1
  //-       .sk-cube.sk-cube2
  //-       .sk-cube.sk-cube3
  //-       .sk-cube.sk-cube4
  //-       .sk-cube.sk-cube5
  //-       .sk-cube.sk-cube6
  //-       .sk-cube.sk-cube7
  //-       .sk-cube.sk-cube8
  //-       .sk-cube.sk-cube9