extend ./layout

block content
  .row
    .col-md-12
      .test-div
  .row
    .col-md-12(style="padding-left:100px;")
      .row
        .col-md-12
          h1(style="color:blue;") This is whats good today
      .event-card
        .row
          .col-sm-4
            h2 Mezzanine SF
            div
              a(href="/mezz3") Next 3 events
            div
              a(href="{{mezzData[0].artist.href}}")
                img(src="{{mezzData[0].image.src}}" style="max-width:200px;")            
          .col-sm-8
            .artist-info
              p Date : {{mezzData[0].date}}
              p Artist : {{mezzData[0].artist.text}}
              p Tickets : 
                a(href="{{mezzData[0].link.href}}") Link here
              p Price : {{mezzData[0].price}}
      .event-card
        .row 
          .col-sm-4
            div     
              h2 Audio SF       
              a(href="{{audioData[0].image.href}}")
                img(src="{{audioData[0].image.src}}" style="max-width:200px;")
          .col-sm-8
            .artist-info
              p Date : {{audioData[0].date.text}}
              p Artist : {{audioData[0].artist.text}}
              p Tickets : 
                a(href="{{audioData[0].link.href}}") Link here
              p Price : {{audioData[0].price}}
        .col-sm-12
          h4 something
        .col-sm-12
          h4 something          
  //- .row
  //-   .col-md-12
  //-     .sk-cube-grid
  //-       .sk-cube.sk-cube1
  //-       .sk-cube.sk-cube2
  //-       .sk-cube.sk-cube3
  //-       .sk-cube.sk-cube4
  //-       .sk-cube.sk-cube5
  //-       .sk-cube.sk-cube6
  //-       .sk-cube.sk-cube7
  //-       .sk-cube.sk-cube8
  //-       .sk-cube.sk-cube9