extend ./layout

block content
  //- .row(id='loading')
  //-   .col-md-12
  //-     div    
  //-       .sk-cube-grid
  //-         .sk-cube.sk-cube1
  //-         .sk-cube.sk-cube2
  //-         .sk-cube.sk-cube3
  //-         .sk-cube.sk-cube4
  //-         .sk-cube.sk-cube5
  //-         .sk-cube.sk-cube6
  //-         .sk-cube.sk-cube7
  //-         .sk-cube.sk-cube8
  //-         .sk-cube.sk-cube9
  //-       .title loading...
  .row(id='content')
    .col-md-8.col-md-offset-2.col-xs-12
      .title WHATSGOODSF?
      p.subtext Upcoming events at go-to music venues       
      p.subtext_2 Click on the event card for tickets
    .col-md-8.col-md-offset-2.col-xs-12
      .index-warning
        p Whatsgoodsf was powered by 
          a(href="https://www.kimonolabs.com/") Kimonolabs
          |, which recently shut down :( We are working on getting our services back up, thanks for your patience!
    .col-md-8.col-md-offset-2.col-xs-12(ng-repeat="venue in allVenues")      
      .event-card(onclick="location.href='{{venue.data[0].url}}';")
        .row
          .col-sm-4.col-xs-4.img-container
            img.venue-img(ng-src="{{venue.data[0].image}}" err-src="http://i.imgur.com/04pGPJ4.jpg")            
          .col-sm-8.col-xs-8
            .row 
              .col-xs-12
                .venue-name {{venue.collectionName}}              
            .row
              .col-xs-3
                p ARTIST
              .col-xs-9
                {{venue.data[0].artist}}
            .row(ng-hide="venue.data[0].date == null")
              .col-xs-3
                p DATE 
              .col-xs-9
                {{venue.data[0].date}}                  
            //- .row(ng-hide="venue.data[0].priceTime == null")
            //-   .col-xs-3
            //-     p INFO
            //-   .col-xs-9
            //-     {{venue.data[0].priceTime}}
      //- .row
      //-   .col-xs-12
      //-     .next-three.center
      //-       a(href="/{{venue.collectionName}}") Next 3 events for {{venue.collectionName}}        
  .row
    .col-xs-12
      p.subtext_2.bottom-text suggestions? email sup@whatsgoodsf.com