html(ng-app='myApp')
  head
    title= 'Whatsgood'
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
    script(src='js/main.js')    
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
  body(ng-controller="MainCtrl")
    block content